dj-database-url
Django
django-ckeditor
django-jazzmin
django-js-asset
django-user-visit
django-environ
django-health-check
gunicorn
Pillow
poetry
poetry-core
poetry-plugin-export
psutil
psycopg2-binary
ptyprocess
pydantic
pydantic_core
pyproject_hooks
pytz
urllib3
virtualenv
webencodings
whitenoise